* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif Caption', serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/alpha2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero .navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .navbar #logo {
    color: #ffffff;
    width: 100px;
    cursor: pointer;
    font-family: 'PT Serif Caption', serif;
    text-shadow: 4px 1px 10px #000000;
}

.hero .content small {
    font-size: 16px;
    text-shadow: 4px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero .content {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.hero .content h1 {
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 90px;
    text-shadow: 4px 1px 10px #000000;
}



/* Explore Button*/
.hero .content .pulsingButton {
    width: 220px;
    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
    display: block;
    padding: 15px 10px; 
    box-shadow: 4px 1px 5px rgba(183, 61, 6, 1);
    border: 1px solid rgb(183, 61, 6);
    background-color: rgb(183, 61, 6);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 20px;
    color: #ffffff;
    transition: all 300ms ease-in-out;
}
  
a.pulsingButton:hover {
    background: transparent;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}  
  
/* Animation */
  
@-webkit-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}
  
@-moz-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}
  
@-ms-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}
  
@keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}
  



/*Sidebar*/

.hero .sidebar {
    width: 50px;
    height: 100vh;
    background: linear-gradient(rgb(183, 61, 6), rgb(183, 61, 6)); 
    position: absolute;
    left: 0;
    top: 0;
}

.hero .sidebar .social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero .sidebar .social-links img {
    width: 35px;
    margin: 5px auto;
    cursor: pointer;
}

.hero .bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

.hero .bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

@keyframes bubble {

    0%{
        transform: translateY(0);
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}

.hero .bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 30px;
}

.hero .bubbles img:nth-child(2) {
    animation-delay: 1s;
    width: 20px;
}

.hero .bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 45px;
}

.hero .bubbles img:nth-child(4) {
    animation-delay: 4.5s;
    width: 35px;
}

.hero .bubbles img:nth-child(5) {
    animation-delay: 3s;
    width: 30px;
}

.hero .bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 15px;
}

.hero .bubbles img:nth-child(7) {
    animation-delay: 3s;
    width: 45px;
}

.hero .bubbles img:nth-child(8) {
    animation-delay: 2s;
    width: 20px;
}





/* Media Queries */


/* Mobile View Screening*/
@media screen and (max-width: 700px) {

    .hero .navbar #logo, .hero .content small, .hero .content h1, .hero .content .pulsingButton {
        margin-left: 13%;
    }

    .hero .content small {
        font-size: 16px;
        width: 100%;
    }

    .hero .content h1 {
        font-size: 40px;
        line-height: 50px;
        width: 80%;
    }
    
    
}




/*  Tab View Screening */

 /* Portrait layout */
@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation:portrait) {
    
    .hero .navbar #logo, .hero .content small, .hero .content h1, .hero .content .pulsingButton {
        margin-left: 17%;
    }

    .hero .navbar #logo {
        font-size: 40px;
    }

    .hero .content small {
        font-size: 30px;
        /* width: 100%; */
    }

    .hero .content h1 {
        font-size: 80px;
        line-height: 85px;
        width: 100%;
    }

}


/* Landscape layout */
/* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    

} */